button{  
    &:hover{
        cursor: pointer;
    }
    &:active{
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

}

.main_btn{
    border:none;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    min-width: 150px;
    padding: 5px 15px;
    margin: 10px;
    font-size: .9rem;
    line-height: 20px;
    color: #fff;
    background:$main-color;
}