.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 1em;
        height: 1em;
        margin: 0;
        padding: 0 10px;
    }
    &.border-icon{
       
        cursor: pointer;
        svg:hover{
            border: 1px solid #696868;
        }
    }
}