$main-color:#303336;

$header-backgroud-color:$main-color;
$header-height: 54px;

$sidebar-backgroud-color:$main-color;
$sidebar-color:#fff;
$sidebar-width:210px;

$main-container-backgroud-color:#bbbbbb;



$white:    #FFF;
$gray-e:   #E0E1E2;
$gray-d:   #D6D7D8;
$gray-a:   #A3AEB2;
$gray-8:   #a6abad;
$gray-7:   #78909C;
$gray-5:   #5B7684;
$gray-4:   #455A64;
$gray-3:   #37474F;
$gray-2:   #2B3940;
$gray-1c:  #1C262C;
$gray-1:   #161E23;
$black:    #000;

$blue:     #1A6FC3;
$blueashes:#2C5873;
$bluedark: #06202E;
$purple:   #5856D5;
$red:      #FF3B30;
$orange:   #FF9500;
$yellow:   #FCBF08;
$green:    #4CD964;

$text-color:                  $gray-e;
$text-color-dark:             $gray-a;
$text-color-darker:           $gray-7;
$text-color-disable:          $gray-8;
$text-color-none:             $gray-8;
