@import "./_header";
@import "./_sidebar";
body{
    background-color: $main-container-backgroud-color;    
}

.wrapper{
    display: flex;
    width: 100%;
    &.show{   
        .main-container{
            margin-left:#{$sidebar-width};
        }    
        .sidbar_div {
            margin-left: 0;
          }
    }
    &.close{
        .main-container{
            margin-left: 0;
        }  
        .sidbar_div {
            margin-left: #{-$sidebar-width};
        }
    }
}

.main-container{
    display: flex;
    flex-direction: column;
    //margin-left: $sidebar-width;
    // width: calc(100% - #{$sidebar-width});
   // float: left;
    transition: all 0.3s ease; 
    position: relative; 
    flex:1;
   
}
.main{
    margin-top: $header-height;
    width: 100%;
    .view-div{
        padding: 10px;
        .title{
            font-size: 1.1rem;
            font-weight: bolder;
            color:#434343;
        }
    }
}
@media screen and (max-width: 1024px) {
    .wrapper.show{   
        .main-container{
            margin-left:0;
        }    
        .sidbar_div {
            margin-left: 0;
            z-index: 100;
        }
    }
  }
